# Rewrite
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|robots\.txt)
RewriteRule ^(.*)$ index.php [L]

# Disable directory browsing 
Options -Indexes

# Hide the contents of directories
IndexIgnore *

# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Deny access to files with extensions
<FilesMatch "\.(sh|db|md|yml)$">
    Order allow,deny
    Deny from all
</FilesMatch>